[submodule "mathlib4"]
	path = mathlib4
	url = https://github.com/xinhjBrant/mathlib4.git
	branch = deepseek
[submodule "logical_verification_2023"]
	path = logical_verification_2023
	url = https://github.com/gok99/logical_verification_2023.git
